<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>word1</key>
	<array>
		<dict>
			<key>correct</key>
			<string>all</string>
			<key>incorrect</key>
			<string>al</string>
			<key>incorrect2</key>
			<string>oll</string>
			<key>choosen</key>
			<false/>
		</dict>
	</array>
	<key>word2</key>
	<array>
		<dict>
			<key>correct</key>
			<string>girl</string>
			<key>incorrect</key>
			<string>gurl</string>
			<key>incorrect2</key>
			<string>jirl</string>
			<key>choosen</key>
			<false/>
		</dict>
	</array>
	<key>word3</key>
	<array>
		<dict>
			<key>correct</key>
			<string>jump</string>
			<key>incorrect</key>
			<string>gump</string>
			<key>incorrect2</key>
			<string>jomp</string>
			<key>choosen</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
